ul li {
  list-style: none;
  }
  .padding-top{
    padding-top: 40px;
  }
  .padding-bottom{
    padding-bottom: 40px;
  }
  .bg-secondary{
    background-color: #f4f4f4 !important;
  }
  .entry-title {
    font-size: 50px;
    font-weight: 700;
    text-shadow: 3px 3px 6px #000;
    line-height: 50px;
  }
  /*Hero Section */
  .hero__slider img {
    width: 100%;
  }
  .slide__text h2 {
    font-size: 42px;
    margin-top: -30px;
  }
  /*Banner Css*/
  .largest_banner{
  background: var(--light-green);
  }
  .main-title{
    font-size: 48px;
    font-weight: 700;
   font-family: "Merriweather", serif;
  }
  .sub-title{
    font-size: 20px;
    font-weight: 600;
  }
  .ex_img img {
    width: 90px;
  }
  /*Achive counter*/
  .achived_left_side img {
    width: 100%;
  }
  .achived_right_side {
    overflow: hidden;
  }
  .achived_title {
    background: var(--counter-bg);
    padding: 10px;
  }
  .counter_number .counter_counter {
    font-size: 72px;
    font-weight: 700;
  }
  .counter_wrap {
    padding: 0px 0 10px 32px;
  }
  #my_counters {
    width: 100%;
  }
  .counter-top-heading p {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    line-height: 42px;
    padding: 10px 0px 10px 34px;
  }
  .counter_text p {
    font-size: 24px;
    font-weight: 700;
  }
  #my_counters > div:nth-child(1) {
    background-color: #33ac41 !important;
    padding: 29px 0px 0px;
  }
  #my_counters > div:nth-child(2) {
    background: #66cc66 !important;
    padding: 29px 0px 0px;
  }
  #my_counters > div:nth-child(3) {
    background: #78d978 !important;
    padding: 29px 0px 0px;
  }
  #my_counters > div:nth-child(4) {
    background: #87e687  !important;
    padding: 29px 0px 0px;
  }
  /*Our Expert*/
  .solution_title .title {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    font-style: normal;
  }
  .solution_title .solu_sub-title {
    font-size: 20px;
    font-weight: 600;
  }
  .type-of-areas-expertise {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #3e4451;
    line-height: 28px;
    font-family: Merriweather;
  }
  
  .ex_title p {
    font-weight: bold;
    font-size: 18px;
  }
  .ex_single {
    margin: 25px 0;
  }
  /*Bloom Css*/
  .bloom__title_wrapper{
    background: url('../img/HOME-BG-IMG.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
  }
  .bloom__title_wrapper h2 {
    font-weight: 700;
    font-size: 32px;
    padding: 140px 0 45px;
    line-height: 42px;
    font-family: 'Merriweather';
  }
  .bloom__title_wrapper p {
    font-size: 24px;
    font-weight: 'Merriweather';
    line-height: 34px;
  }
  .btn.button {
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 15p;
    width: 150px;
    transition: color 0.3s ease-in-out;
    padding: 12px 0;
    font-family: Merriweather;
    font-weight: 300;
  }
  .btn.button:hover{
    background: var(--hover-color);
    border: 1px solid var(--hover-color);
  }
  .interested {
    background: #dbddde;
    padding: 30px 10px;
  }
  .become_partner_btn {
    line-height: 48px;
    font-weight: bold;
    font-style: normal;
    padding-right: 50px;
    padding-left: 50px;
    border-style: solid;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background-color: var(--green-color);
    color: var(--white-color);
    border-color: #33ac42;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    border-width: 2px;
    transition: .3s;  
  }
  .become_partner_btn:hover {
    text-decoration: none;
    background: var(--white-color);
    color: var(--green);
  }
  
  .img_area {
    width: 200px;
  }
  .img_area img {
    width: 100%;
  }
  /*About Us Page*/
  .hero_secttion{
    background: url(../img/about.jpg);
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  .headline_text {
    padding-top: 50px;
  }
  .bradcrumb h2 {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 15px;
    font-weight: 100;
    font-family: "Source Sans Pro";
  }
  
  /*Award Section*/
  .award_wrapper {
    background: var(--grey-color);
    padding: 15px;
    overflow: hidden;
  }
  .award_wrapper .icon {
    width: 60px;
    text-align: center;
    margin: 0 auto;
  }
  .content__area {
  /*  width: 550px;*/
  /*  height: 250px;*/
    padding: 70px;
    margin: auto;
  }
  .v__img-area {
    text-align: center;
    margin: auto;
  }
  
  /*Footer css*/
  #footer img {
    width: 300px;
  }
  /*Leadership Team*/
  .team_art_section img {
    width: 200px;
  }
  .iname {
    font-size: 26px;
    color: var(--green-color);
    font-family: 'Merriweather', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    line-height: 27px;
    padding-top: 15px;
  }
  .lead_center p {
    font-family: 'Source Sans Pro', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    padding: 10px 0px 5px 0px;
  }
  
  #devider {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-top: 15px;
    margin-bottom: 15px;
    border-color: #676a7326;
  }
  
  /* Expertse */
  .expe_single {
    position: relative;
  }
  
  .hover_icon {
    position: absolute;
    display: block;
    left: 45%;
    top: 45%;
    opacity: 0; /* This makes the icon invisible initially */
    color: var(--white-color);
  }
  
  .expe_single:hover .hover_icon {
    opacity: 1; /* Change opacity to 1 on hover */
  }
  
  .expe_single::before {
    content: '';
    position: absolute;
    background: rgba(57, 181, 74, 0.72);
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    display: none;
    transition: 0.3s;
  }
  
  .expe_single:hover::before {
    display: block;
  }
  
  .our-solution-title {
    font-size: 16px;
    font-weight: 400;
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0px;
  }
  
  /* Strategic  */
  .strategic_single .img-container img {
    width: 100px;
    box-sizing: border-box;
    border: 1px solid var(--green-color);
    padding: 5px;
  }
  .content_box p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
  }
  
  /* Award Section */
  .award_container h4 {
    font-size: 25px;
    line-height: 40px;
    font-weight: normal;
    font-style: normal;
  }
  .award_container p {
    font-weight: bold;
  }
  .certificate_conatiner img {
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    transition: .3s;
  }
  /* .certificate_conatiner img:hover{
    transform: scale(1.1);
  } */
  
  /* Testimonial */
  .testi_img table tr td {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
  }
  .border-secondary {
    border-color: #676a7326 !important;
  }
  .img_box img {
    padding: 0 10px 0px 0px;
    float: left;
    width: 80px;
  }
  .my_cont {
    padding-top: 16px;
  }
  .my_cont p {
    font-size: 16px !important;
    font-family: 'Merriweather', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    line-height: 32px;
    font-weight: normal;
    color:var(--text-color);
  }
  /* Corporate */
  .key-challanges_title h2, .solu_title h2{
    font-size: 30px;
    font-weight: normal;
  }
  .key-challanges h3 {
    font-size: 15px;
    font-weight: 400;
  }
  .key-challanges .icon img {
    width: 44px;
  }
  /* Knowledge Center */
  .pdf_file {
    position: relative;
    text-align: center;
    width: 250px;
    margin: 0 auto;
  }
  .hover_img {
    position: absolute;
    top: 0;
    background: var(--light-green);
    display: none;
    transition: .3s;
  }
  .pdf_file:hover .hover_img{
    display: block;
  }
  
  .pdf_file img {
    width: 250px;
  }
  /* Contact */
  
  .contact_wrapper .button, .contact_wrapper input[type="submit"], .contact_wrapper input[type="button"],.contact_wrapper button,.button {
    display: inline-block;
    padding: 2px 40px;
    position: relative;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    background: transparent;
    transition: .3s;
  }
  input[type="submit"]:hover{
    border-color: var(--green-color);
    background: var(--green-color);
    color: var(--white-color);
  }
  .contact_wrapper input,.enroll-number input {
    height: 42px;
  }
  .contact_wrapper input::placeholder, .contact_wrapper textarea::placeholder {
    color: #ddddddb1;
  }
  .contact_wrapper h2 {
    font-size: 16px;
    font-weight: 700;
  }
  
  .contact_wrapper .icon i {
    font-size: 25px;
    color: var(--green-color);
  }
  .contact_wrapper .c_address {
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
  }
  .maps iframe {
    width: 100%;
    margin-top: 60px;
    height: 300px;
  }
  
  /* Our centers */
  .center_wrapper table thead th {
    background: var(--green-color);
    color: var(--white-color);
    font-size: 15px;
  }
  .center_wrapper table tbody tr td {
    font-size: 14px;
  }
  /* Career  */
  .get_ready p {
    font-style: italic;
  }
  /* Student Corner */
  .enroll-number h2 {
    font-size: 22px;
  }
  /* Current Opening */
  
  .we_are-loo {
    background: #39b54a;
    color: var(--white-color);
    padding: 40px;
    border-radius: 15px;
  }
  .we_are-loo ul li {
    list-style: none;
    line-height: 30px;
  }
  .opning--form p {
    font-style: italic;
  }
  /* Employee Speeks */
  .employee-speeks h2 {
    font-size: 22px;
    font-weight: 400;
  }
  .employee-speeks p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    position: relative;
  }
  .qoute i {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: var(--green-color);
  }
  /* Solution Template  */
  
  .solution-iconbox .box-wrapper {
    padding-top: 50px !important;
  }
  .solution-iconbox .box-wrapper h2 {
    font-size: 30px;
  }
  .solution-iconbox p {
    line-height: 28px;
    color: var(--text-color);
    font-size: 15px;
    font-family: "Source Sans Pro";
  }
  .course-key-points {
    margin: 0;
    padding: 0 12px;
  }
  .course-key-points li {
    list-style: none;
    line-height: 25px;
    color: var(--text-color);
  }
  .solu-content_wrapper h2 {
    color: var(--green-color);
  }   
  .border.rounded.m-3 {
    height: 100%;
  }
  
  /* Narendra Modi */
  .narendra-hero_secttion{
    background-image: url('../img/about/narendra-modi/NarendraModiInagurated1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .n-wrapper h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 35px;
  }
  .n-wrapper p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color);
    font-family: "Source Sans Pro";
  }
  /* Driving  */
  .driving-hero_secttion{
    background-image: url('../img/about/driving/DrivingTraining1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .specially-hero_secttion{
    background-image: url('../img/about/Specially/Skill_DevelopmentChappara1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .n-wrapper ul li {
    color: var(--text-color);
  }
  .awareness-hero_secttion{
    background-image: url('../img/about/awareness/AwarenessCreation1.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container-hero_secttion{
    background-image: url('../img/about/container/ContainerArt1.png');
    background-position: center center;
    background-size: cover;
    
  }